<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="jdbc.properties" />

    <bean id="stagingDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" />

    <bean id="bblFeedsDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc_bblfeeds.driverClassName}"
          p:url="${jdbc_bblfeeds.url}"
          p:username="${jdbc_bblfeeds.username}"
          p:password="${jdbc_bblfeeds.password}" />

    <bean id="eugexDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc_eugex.driverClassName}"
          p:url="${jdbc_eugex.url}"
          p:username="${jdbc_eugex.username}"
          p:password="${jdbc_eugex.password}" />
    
    <bean id="rdbDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc_rdb.driverClassName}"
          p:url="${jdbc_rdb.url}"
          p:username="${jdbc_rdb.username}"
          p:password="${jdbc_rdb.password}" />
    
    <!-- Hibernate persistence support -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="stagingDataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>uk.ac.ed.learn9.bb.timetabling.data.ActivityTemplate</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.ActivityType</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.Activity</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.ActivityGroup</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.ChangeResult</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.Configuration</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.EnrolmentChange</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.EnrolmentChangePart</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.Module</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.ModuleCourse</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.StudentSet</value>
                <value>uk.ac.ed.learn9.bb.timetabling.data.SynchronisationRun</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.bytecode.provider">javaassist</prop>
            </props>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
      <property name="velocityProperties">
         <value>
          resource.loader=class
          class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
         </value>
      </property>
   </bean>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
      <property name="host" value="mailrelay.ed.ac.uk"/>
      <!--<property name="host" value="bulkmailrelay.ucs.ed.ac.uk"/>-->
    </bean>
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
      <property name="from" value="Ross.Nicoll@ed.ac.uk"/>
      <property name="to" value="Ross.Nicoll@ed.ac.uk"/>
    </bean>
    
    <!-- Event listener to start/stop the scheduled synchronisation job -->
    <bean id="scheduledJobManager" 
         class="uk.ac.ed.learn9.bb.timetabling.ScheduledJobManager"/>
    
    <!-- Service beans -->
    <bean id="activityDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.ActivityDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="activityTemplateDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.ActivityTemplateDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="activityTypeDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.ActivityTypeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="configurationDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.ConfigurationDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="enrolmentChangeDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.EnrolmentChangeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="enrolmentChangePartDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.EnrolmentChangePartDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="moduleDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.ModuleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="synchronisationRunDao" class="uk.ac.ed.learn9.bb.timetabling.dao.impl.SynchronisationRunDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="blackboardService" class="uk.ac.ed.learn9.bb.timetabling.service.BlackboardService">
        <property name="forceAllMailTo" value="Ross.Nicoll@ed.ac.uk"/>
        <property name="mailSender" ref="mailSender"/>
        <property name="templateMessage" ref="templateMessage"/>
        <property name="velocityEngine" ref="velocityEngine"/>
    </bean>
    <bean id="synchronisationRunService" class="uk.ac.ed.learn9.bb.timetabling.service.SynchronisationRunService">
        <property name="mailSender" ref="mailSender"/>
        <property name="templateMessage" ref="templateMessage"/>
        <property name="synchronisationRunDao" ref="synchronisationRunDao"/>
        <property name="stagingDataSource" ref="stagingDataSource"/>
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="sendErrorMessageTo">
            <list>
                <!-- value>apps-tels@mlists.is.ed.ac.uk</value -->
                <value>Ross.Nicoll@ed.ac.uk</value>
            </list>
        </property>
        <property name="sendSuccessMessageTo">
            <list>
                <!-- value>apps-tels@mlists.is.ed.ac.uk</value -->
                <value>Ross.Nicoll@ed.ac.uk</value>
            </list>
        </property>
    </bean>
    <bean id="eugexSynchroniseService" class="uk.ac.ed.learn9.bb.timetabling.service.EugexSynchroniseService">
        <property name="stagingDataSource" ref="stagingDataSource"/>
        <property name="eugexDataSource" ref="eugexDataSource"/>
    </bean>
    
    <bean id="timetablingSynchroniseService" class="uk.ac.ed.learn9.bb.timetabling.service.TimetablingSynchroniseService">
        <property name="rdbTablePrefix" value="" />
        <property name="rdbDataSource" ref="rdbDataSource"/>
    </bean>
    
    <bean id="mergedCoursesService" class="uk.ac.ed.learn9.bb.timetabling.service.MergedCoursesService" />
    
    <bean id="synchronisationService" class="uk.ac.ed.learn9.bb.timetabling.service.SynchronisationService">
        <property name="blackboardService" ref="blackboardService"/>
        <property name="configurationDao" ref="configurationDao"/>
        <property name="eugexSynchroniseService" ref="eugexSynchroniseService"/>
        <property name="stagingDataSource" ref="stagingDataSource"/>
        <property name="timetablingSynchroniseService" ref="timetablingSynchroniseService"/>
    </bean>

</beans>
