<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource"
      p:driverClassName="${jdbc.driverClassName}"
      p:url="${jdbc.url}"
      p:username="${jdbc.username}"
      p:password="${jdbc.password}" />
    
    <bean id="rdbDataSource"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource"
      p:driverClassName="${jdbc_rdb.driverClassName}"
      p:url="${jdbc_rdb.url}"
      p:username="${jdbc_rdb.username}"
      p:password="${jdbc_rdb.password}" />
    
    <!-- Service beans -->
    <bean id="timetablingCloneService" class="uk.ac.ed.learn9.bb.timetabling.service.TimetablingCloneService">
    </bean>
    
    <bean id="synchronizationService" class="uk.ac.ed.learn9.bb.timetabling.service.SynchronizationService">
        <property name="dataSource" ref="dataSource"/>
        <property name="rdbDataSource" ref="rdbDataSource"/>
        <property name="cloneService" ref="timetablingCloneService"/>
    </bean>

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

</beans>
